body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: whitesmoke;
}

#top {
text-align: center;
}

#logo-name {
    color: white;
    background-color:orange;
    display: inline-block;
    font-size: 32px;
    font-weight: bold;
    margin: 16px;
}

#navigation a {
    color: orange;
    padding: 42px;
}

#navigation a:hover {
    color: blue;
}

#Auswahl a{
    color: white;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin: 32px;
}
#Auswahl a {
    color: orange;
    padding: 42px;
}

#Auswahl a:hover {
    color: blue;
}
#Speisen a{
    color: white;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin: 32px;
    text-align: center;
}
#Speisen a {
    color: black;
    text-align: center;
}

#Speisen a:hover {
    color: blue;
    text-align: center;
}
#table {
    text-align: right;
}
#image img {
    width: 100%;
    margin-top: 16px;
    margin-bottom: 16px;
}
#Summe {
    text-align: center;
}

#Warenkorb {
    margin-top: 40px;
    margin-bottom: 16px;
    text-align: center;
}
#Bestellen-Button {
    color: gray;
    text-align: center;
}


<!--HAIAJDHH-->


.content-section {
    margin: 1em;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.5em;
}
.section-header {
    font-family:Arial, Helvetica, sans-serif;
    font-weight: normal;
    color:black;
    text-align: center;
    font-size: 2.5em;
}


.btn {
    text-align: center;
    vertical-align: middle;
    padding: .67em .67em;
    cursor: pointer;
}

.btn-header {
    margin: .5em 15% 2em 15%;
    color: white;
    border: 2px solid orange;
    background-color: rgba(255, 255, 255, .1);
    border-radius: 0;
    font-size: 1.5em;
    font-weight: lighter;
    padding-left: 2em;
    padding-right: 2em;
}

.btn-header:hover {
    background-color: rgba(255, 255, 255, .3);
}

.btn-play {
    display: block;
    margin: 0 auto;
    color: blue;
    font-size: 4em;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    padding: 0;
    text-align: center;
}

.btn-primary {
    color: white;
    background-color: orange;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: blue;
}


.cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: #333;
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-row {
    display: flex;
}

.cart-item {
    width: 45%;
}

.cart-price {
    width: 20%;
    font-size: 1.2em;
    color: #333;
}

.cart-quantity {
    width: 35%;
}

.cart-item-title {
    color: #333;
    margin-left: .5em;
    font-size: 1.2em;
}

.cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
}

.btn-danger {
    color: white;
    background-color: #EB5757;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-danger:hover {
    background-color: #CC4C4C;
}

.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #56CCF2;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}

.cart-row:last-child {
    border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
    border: none;
}

.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 20px;
}

.cart-total-price {
    color: #333;
    font-size: 1.1em;
}

.btn-purchase {
    display: block;
    margin: 40px auto 80px auto;
    font-size: 1.75em;
}