.leiste {
	margin-top: -18px;
}

p.overflow {
	width: 45%;
	overflow: auto;
}

h1 {
	margin-left: 47%;
	text-align: justify;
}

h1.long{
	margin-left: 40%;
}

h3 {
	text-decoration: underline;
	text-decoration-style: dashed;
}

h4 {
	color: red;
}

a:visited {
	color: black;
}

a:hover {
	color: red;
}

body {
	background: #F2EFD9;
	opacity: 0.9;
	text-align: justify;
}

input[type=submit] {
	box-shadow: 5px 5px 5px grey;
}

.cards {
	width: 250px;
  	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  	text-align: center;
  	padding-bottom: 1px;
  	background: #F2E9D8;
}
.infocards{
	/* margin-top: 28%; */
	margin-left: 15%;
	margin-right: 7%;
}

div.resize {
	border: 2px solid;
  	padding: 20px; 
 	width: 300px;
  	resize: both;
  	overflow: auto;
}