#Unten {
    text-align: left;
    color: white;
    padding: 16px;
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left:  10%;
    
}

#footer {
    margin-top: 50px;
    margin-bottom: 16px;
    text-align: center;
    color: white;
    position: sticky;
    left: 43%;
}

.cards {
    width: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    padding-bottom: 1px;
    /*background: #D8DCE4;*/
    background-color: rgba(220,160,140,0.5);
    position: sticky;
    left: 14.25%;
}