body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: whitesmoke;
}

#top {
text-align: center;
}

#logo-name {
    color: white;
    background-color:orange;
    display: inline-block;
    font-size: 32px;
    font-weight: bold;
    margin: 16px;
}

#navigation a {
    color: orange;
    padding: 42px;
}

#navigation a:hover {
    color: blue;
}

#Auswahl a{
    color: white;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin: 32px;
}
#Auswahl a {
    color: orange;
    padding: 42px;
}

#Auswahl a:hover {
    color: blue;
}
#Speisen a{
    color: white;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin: 32px;
    text-align: center;
}
#Speisen a {
    color: black;
    text-align: center;
}

#Speisen a:hover {
    color: blue;
    text-align: center;
}
#table {
    text-align: right;
}
#image img {
    width: 100%;
    margin-top: 16px;
    margin-bottom: 16px;
}
#Summe {
    text-align: center;
}

#Warenkorb {
    margin-top: 40px;
    margin-bottom: 16px;
    text-align: center;
}
#Bestellen-Button {
    color: gray;
    text-align: center;
}


<!--HAIAJDHH-->


.content-section {
    margin: 2em;
}

.container {
    max-width: 900px;
    margin:  auto;
    padding:  1.5em;
}
.section-header {
    font-family:Arial, Helvetica, sans-serif;
    font-weight: normal;
    color:black;
    text-align: center;
    font-size: 2.5em;
}


.btn {
    text-align: center;
    vertical-align: middle;
    padding: .67em .67em;
    cursor: pointer;
}

.btn-primary {
    color: black;
    background-color: orange;
    border: none;
    border-radius: .3em;
    font-weight: bolder;
}

.btn-primary:hover {
    background-color: blue;
}

.cart-top {
    font-weight: bold;
    font-size: 1.25em;
    color: black;
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
}

.cart-row {
    display: flex;
}

.cart-item {
    width: 50%;
}

.cart-price {
    width: 50%;
    font-size: 1.2em;
    color: black;
}

.cart-quantity {
    width: 50%;
}

.cart-item-title {
    color: black;
    
    font-size: 1.5em;
}

.cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
}

.btn-danger {
    color: white;
    background-color: red;
    border: none;
}

.btn-danger:hover {
    background-color: blue;
}

.cart-quantity-input {
    height: 40px;
    width: 40px;

    color: black;
 
    text-align: center;
    font-size: 1.2em;
    margin-right: 50px;
}

.cart-row:last-child {
    border-bottom: 1px solid black;
}

.cart-total-price {
    color: black;
    font-weight: bold;
    
}

.btn-purchase {
    display: block;
    margin: auto;
    font-size: 1.00em;
}