body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: whitesmoke;
}

#top {
text-align: center;
}

#logo-name {
    color: white;
    background-color:orange;
    display: inline-block;
    font-size: 32px;
    font-weight: bold;
    margin: 16px;
}

#navigation a {
    color: orange;
    padding: 42px;
}

#navigation a:hover {
    color: blue;
}

#Auswahl a{
    color: white;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin: 32px;
}
#Auswahl a {
    color: orange;
    padding: 42px;
}

#Auswahl a:hover {
    color: blue;
}
#Speisen{
    color: black;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    position:absolute;
    left: 50%;
    margin-left: -15em;
}

#image img {
    width: 100%;
    margin-top: 16px;
    margin-bottom: 16px;
}
#Summe {
    text-align: center;
}

#SweetBurger {
    position: absolute;
    margin-top: 125px;
    height: 250px;
    margin-left: 150px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#Tiramisu {
    position: absolute;
    margin-top: 275px;
    height: 250px;
    margin-left: 650px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#VeggiBurger {
    position: absolute;
    margin-top: 395px;
    height: 265px;
    margin-left: 150px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#Cola {
    position: absolute;
    margin-top: 500px;
    height: 250px;
    margin-left: 650px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#infokarten{
    margin-top: 70%;
}
