body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: whitesmoke;
}

#top {
text-align: center;
}

#logo-name {
    color: white;
    background-color:orange;
    display: inline-block;
    font-size: 32px;
    font-weight: bold;
    margin: 16px;
}

#maps {
    text-align: center;
    margin-top: 32px;
    margin-bottom: 32px;
}
#navigation a {
    color: orange;
    padding: 42px;
}
#BezahlungOrt {
    color: blue;
    padding: 42px;
   
    
}
#navigation a:hover {
    color: blue;
}

#Auswahl a{
    color: white;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin: 32px;
}
#Auswahl a {
    color: orange;
    padding: 42px;
}

#Auswahl a:hover {
    color: blue;
}